In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif

total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv", sep = ",")
total_data.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [20]:
total_data.isnull().sum().sort_values(ascending=False) / len(total_data)

fips                      0.0
TOT_POP                   0.0
0-9                       0.0
0-9 y/o % of total pop    0.0
19-Oct                    0.0
                         ...
CKD_prevalence            0.0
CKD_Lower 95% CI          0.0
CKD_Upper 95% CI          0.0
CKD_number                0.0
Urban_rural_code          0.0
Length: 108, dtype: float64

In [21]:
data_types = total_data.dtypes
numeric_columns = [c for c in list(data_types[data_types != "object"].index) if c != "diabetes_prevalence"]

In [22]:
X = total_data[numeric_columns]
y = total_data["diabetes_prevalence"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_Upper 95% CI,COPD_number,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
1292,26127,26625,3221,12.097653,3463,13.006573,2922,10.974648,2829,10.625352,...,13.0,2314,12.6,14.9,2823,3.8,3.5,4.1,771,6
2302,42121,51266,5272,10.283619,5751,11.217961,5137,10.020286,5341,10.418211,...,11.5,4097,11.9,14.2,5416,3.5,3.2,3.8,1454,5
761,18133,37779,3915,10.362900,5118,13.547209,6202,16.416528,4363,11.548744,...,10.4,2792,11.2,13.1,3698,2.9,2.7,3.1,871,2
2194,40131,91984,11163,12.135806,12646,13.748043,11595,12.605453,11357,12.346712,...,9.3,5716,10.4,12.0,7913,3.0,2.8,3.2,2118,3
1241,26025,134487,16698,12.416070,17666,13.135842,17281,12.849569,15993,11.891856,...,11.0,10002,11.7,13.4,12987,3.4,3.2,3.6,3490,4

In [23]:
scaler = StandardScaler() #selectdtypes(include=["object"]).columns
scaler.fit(X_train)

X_train_norm = scaler.transform(X_train)
X_train_norm = pd.DataFrame(X_train_norm, index = X_train.index, columns = X.columns)

X_test_norm = scaler.transform(X_test)
X_test_norm = pd.DataFrame(X_test_norm, index = X_test.index, columns = X.columns)

X_train_norm.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_Upper 95% CI,COPD_number,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
1292,-0.301633,-0.229763,-0.225393,0.102383,-0.231350,0.162374,-0.229775,-0.429454,-0.223780,-0.665485,...,0.989521,-0.222477,0.209312,0.314479,-0.215940,0.644725,0.576430,0.657452,-0.216950,0.910528
2302,0.761573,-0.161280,-0.179851,-0.754597,-0.181109,-0.836073,-0.188375,-0.736296,-0.176225,-0.785934,...,0.413368,-0.117073,-0.060621,0.064137,-0.135257,0.109985,0.000382,0.161947,-0.135212,0.249092
761,-0.833037,-0.198764,-0.209983,-0.717144,-0.195009,0.464170,-0.168470,1.320194,-0.194740,-0.128551,...,-0.009144,-0.194220,-0.330555,-0.329256,-0.188714,-0.959495,-0.959698,-0.994232,-0.204982,-1.735217
2194,0.629287,-0.048115,-0.049041,0.120407,-0.029705,0.576280,-0.067671,0.094875,-0.062335,0.335452,...,-0.431656,-0.021363,-0.639050,-0.722650,-0.057561,-0.781249,-0.767682,-0.829064,-0.055748,-1.073780
1241,-0.308413,0.070012,0.073864,0.252809,0.080526,0.234535,0.038603,0.173362,0.025430,0.070962,...,0.221317,0.232009,-0.137745,-0.221967,0.100319,-0.068262,0.000382,-0.168390,0.108446,-0.412344

In [24]:
k = int(len(X_train_norm.columns) * 0.3)
selection_model = SelectKBest(score_func = f_classif, k = k)
selection_model.fit(X_train_norm, y_train)
ix = selection_model.get_support()

X_train_sel = pd.DataFrame(selection_model.transform(X_train_norm), columns = X_train_norm.columns.values[ix])
X_test_sel = pd.DataFrame(selection_model.transform(X_test_norm), columns = X_test_norm.columns.values[ix])

X_train_sel.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,Heart disease_Lower 95% CI,Heart disease_Upper 95% CI,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI
0,0.648457,-0.557226,-0.138376,0.116936,0.161338,-0.302485,0.059489,0.253241,0.168149,-0.173289,...,0.818916,0.874465,0.951061,0.856648,0.989521,0.209312,0.314479,0.644725,0.576430,0.657452
1,0.759892,-0.564855,1.034033,-0.505673,1.977925,-0.429705,-0.022269,-0.017433,-0.117837,-0.504065,...,0.255939,0.350729,0.350976,0.230367,0.413368,-0.060621,0.064137,0.109985,0.000382,0.161947
2,0.538703,-0.379993,-0.440933,-0.409887,1.335132,-0.588730,-0.480111,-0.705399,-0.747008,0.138198,...,-0.744908,-0.696745,0.050934,0.037666,-0.009144,-0.330555,-0.329256,-0.959495,-0.959698,-0.994232
3,-0.579575,-0.556409,-0.478753,-0.872853,-0.201980,0.280606,-0.872547,-0.964796,-1.032994,0.649528,...,-0.432144,-0.487250,-0.420561,-0.347738,-0.431656,-0.639050,-0.722650,-0.781249,-0.767682,-0.829064
4,-0.191312,0.134914,-0.024917,-0.713210,0.301075,-0.048045,0.353816,0.738201,0.614288,-0.313903,...,-0.056826,-0.173008,0.222387,0.278543,0.221317,-0.137745,-0.221967,-0.068262,0.000382,-0.168390

In [26]:
X_train_sel["diabetes_prevalence"] = list(y_train)
X_test_sel["diabetes_prevalence"] = list(y_test)

X_train_sel.to_csv("train.csv", index = False)
X_test_sel.to_csv("test.csv", index = False)

In [27]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

train_data.head()

,% White-alone,% Black-alone,R_death_2018,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,...,COPD_prevalence,COPD_Lower 95% CI,COPD_Upper 95% CI,diabetes_Lower 95% CI,diabetes_Upper 95% CI,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,Heart disease_number,diabetes_prevalence
0,0.648457,-0.557226,-0.138376,0.116936,0.161338,-0.302485,0.059489,0.253241,0.168149,-0.173289,...,0.951061,0.856648,0.989521,0.209312,0.314479,0.644725,0.576430,0.657452,13.7,13.7
1,0.759892,-0.564855,1.034033,-0.505673,1.977925,-0.429705,-0.022269,-0.017433,-0.117837,-0.504065,...,0.350976,0.230367,0.413368,-0.060621,0.064137,0.109985,0.000382,0.161947,13.1,13.1
2,0.538703,-0.379993,-0.440933,-0.409887,1.335132,-0.588730,-0.480111,-0.705399,-0.747008,0.138198,...,0.050934,0.037666,-0.009144,-0.330555,-0.329256,-0.959495,-0.959698,-0.994232,12.2,12.2
3,-0.579575,-0.556409,-0.478753,-0.872853,-0.201980,0.280606,-0.872547,-0.964796,-1.032994,0.649528,...,-0.420561,-0.347738,-0.431656,-0.639050,-0.722650,-0.781249,-0.767682,-0.829064,11.2,11.2
4,-0.191312,0.134914,-0.024917,-0.713210,0.301075,-0.048045,0.353816,0.738201,0.614288,-0.313903,...,0.222387,0.278543,0.221317,-0.137745,-0.221967,-0.068262,0.000382,-0.168390,12.5,12.5

In [ ]:
X_train = train_data.drop(["diabetes_prevalence"], axis = 1)
y_train = train_data["diabetes_prevalence"]
X_test = test_data.drop(["diabetes_prevalence"], axis = 1)
y_test = test_data["diabetes_prevalence"]